@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'noto sans';
    src: url('/NotoSans-SemiBold.ttf');
  }
  @font-face {
    font-family: 'noto sans bold';
    src: url('/NotoSans-Black.ttf');
  }
}
body {
  font-family: 'noto sans';
}

h2 {
  font-family: 'noto sans bold';
}
.unsplash {
  background-image: url('/images/bg1.svg');
  padding-top: 140px;
  background-repeat: no-repeat;
  color: #FFFFFF;
}

.unsplash-container {
  width: 95%;
}

ul.mission {
  list-style-type: square;
  opacity: 80%;
  font-size: 14px;
  margin-left: 11px;
}

.btn-color {
  color: #131963;
}

.service {
  background-image: url('/images/service_bg.svg');
}

.demo-bg {
  background-image: url('/images/demo_bg.svg');
  color: #FFFFFF;
  background-size: cover;
  padding-top: 70px;
}

.ellipse {
  position: relative;
}
.inner_img {
  position: absolute;
  z-index: 1;
  top: 46px;
  left: 160px;
  width: 58px;
  height: 58px;
}
.mobiles {
  position: relative;
  width: 300px;
  height: 500px;
}
.top {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: 212px;
  height: 414px;
}
.bottom {
  position: absolute;
  top: 40px;
  left: 139px;
  z-index: 1;
  width: 204px;
  height: 373px;
}

@media screen and (max-width: 480px) {
  .inner_img {
    position: absolute;
    top: 45px;
    left: 130px;
  }
}
.video-img {
  margin: 0 auto;
  width: 1600px;
  height: 517px;
}
.About {
  background-image: url('/images/about_us.svg');
  width: 100%;
  background-size: cover;
}

.about-card-text {
  width: 280px;
}
.map {
  width: 568px;
  height: 446px;
}
.footer {
  background-image: url("/images/footer.svg");
  min-height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.footer_container {
  max-width: 1120px;
  margin: 0 auto;
  padding-top: 50px;
}

.footer-links {
  color: #899BA9;
  font-size: 23px;
}
